body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}


/* header related styles */

.banner {
    background-image: url('/images/banner/banner2.png');
    display: flex;
    background-size: cover;
    height: 100vh;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
}

.header-details {
    text-align: right;
    width: 500px;
    padding-right: 60px;
}

.tittle {
    font-size: 65px;
    color: #151414;
    margin-top: 50px;
    margin-bottom: 2px;
}

.description {
    font-size: 16px;
    color: #444343;

}

.primary-btn {
    background: #F15B22;
    padding: 20px 25px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

/* main related styles */


.hero-sec {
    display: flex;
    padding: 130px 160px 135px 135px;
    align-items: center;
    gap: 130px;

}

.hero-tittle {
    color: #151414;
    font-size: 40px;
    width: 280px;
    margin-bottom: 0;
    margin-top: 300px;
}

.hero-decription {
    color: #151414;
    font-size: 16px;
    width: 420px;
    margin-top: 20px;

}

.bltpoints {
    color: #444343;
    font-size: 10px;
    margin-top: 5px;
    margin-bottom: 2px;
}

.hero-sec img {
    margin-top: 40px;
}

/* My plans related styles */


.plans-wrapper {
    width: 1600px;
    height: 3223px;
}

.myplans {
    color: #151414;
    font-size: 40px;
    text-align: center;
}

.plans-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.plans {
    text-align: center;
    margin-top: 10px;

}

.plans-tittle {
    color: #151414;
    font-size: 30px;
    margin-bottom: 5px;


}

.plans-description {
    color: #737272;
    font-size: 25px;
    margin-top: 20;
}

.positive {
    background-image: url('/images/watch.png');
    width: 1140px;
    height: 300px;
    margin: 60px 160px 160px 100px;
}

.positive-container {
    width: 1140px;
    height: 300px;
    margin: 60px 0px;
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0.00) 100%);
    border-radius: 8px;

}

.positive-tittle {
    color: #FFF;
    text-align: center left;
    font-size: 40px;
    width: 459px;
    padding-left: 60px;
    padding-top: 60px;

}

.call {
    color: #F15B22;
    padding: 20px 36px;
    border-radius: 5px;
    background: #FFF;
    border: none;
    margin-left: 60px;
    margin-bottom: 60px;
    cursor: pointer;
}

/* footer related styles */

.end-part {
    background: #151414;
    width: 1600px;
    height: 500px;
}

.end-part {
    display: flex;
    justify-items: center;
    gap: 200px;
    padding: 130px 230px;
}

.end-tittle {
    color: #F8F8F8;
    font-size: 45px;
}

.end-description {
    color: #FFF;
    font-size: 16px;
    width: 485px;
}

.end-details {
    color: #FFF;
    font-size: 16px;

}

.subs-tittle {
    color: #FFF;
    font-size: 25px;
}

.contact input {
    display: block;
    margin-bottom: 30px;
    padding: 21px 100px 22px 21px;
    color: #F3F3F3;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid #FFF;
    background: #151414;

}

.subscribe-btn {
    color: #F15B22;
    font-size: 20px;
    padding: 15px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}